[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==2.2.20"
gunicorn = "==19.9.0"
"psycopg2-binary" = "==2.7.6"
"django-blog-zinnia" = "==0.20"
requests = "==2.21.0"
celery = "==4.2.1"
"django-celery-results" = "==1.0.4"
"django-celery-beat" = "==1.4.0"
"django-compressor" = "==2.2"
Markdown = "==3.0.1"

[requires]
python_version = "3.6"

[dev-packages]
pylint = "*"
pylint-django = "*"
selenium = "*"
