{% extends "base/base.html" %}

{% block title %}
    About me
{% endblock title %}
{% block description %}
    <meta name="description" content="A little about me." />
{% endblock description%}
{% block keywords %}
    <meta name="keywords" content="Fabio Thomaz Molinar, Fabio Molinar, Blog, Personal site, Projects, Web, Development, IoT, Industry 4.0, Gas Turbines" />
    <meta name="keywords" content="IoT, Industry 4.0, Gas Turbines, Utilities, Power, Power generation" />
{% endblock keywords%}

{% block base-content %}
    <h1>About</h1>
{% endblock base-content %}