{% extends "base/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% blocktrans %}Contact{% endblocktrans %}
{% endblock title %}
{% block description %}
    <meta name="description" content="{% blocktrans %}How to get in contact with me.{% endblocktrans %}" />
{% endblock description%}
{% block keywords %}
    <meta name="keywords" content="{% blocktrans %}Fabio Thomaz Molinar, Fabio Molinar, Contact{% endblocktrans %}" />    
{% endblock keywords%}
{% block head %}
    <meta property="og:title" content="Fabio's WebSite - {% blocktrans %}Contact{% endblocktrans %}" />
    <meta property="og:site_name" content="fabiomolinar.com" />
    <meta property="og:description" content="{% blocktrans %}How to get in contact with me.{% endblocktrans %}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://fabiomolinar.com{{ request.get_full_path }}" />
    <meta property="og:image" content="https://fabiomolinar.com{% static 'base/images/icon.png' %}" />
    <!-- FontAwesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.6.1/js/all.js" integrity="sha384-R5JkiUweZpJjELPWqttAYmYM1P3SNEJRM6ecTQF05pFFtxmCO+Y1CiUhvuDzgSVZ" crossorigin="anonymous"></script>
{% endblock head %}

{% block base-content %}
    <div class="jumbotron">
        <h1>{% trans "Contact" %}</h1>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-6">
                <table class="table table-bordered table-striped table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" colspan="2">{% blocktrans %}Get in touch...{% endblocktrans %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="align-middle">
                                <p class="m-0">Email</p>
                                <p class="m-0"><small class="text-muted">contact@fabiomolinar.com</small></p>
                            </th>
                            <td class="text-center"><a href="mailto:contact@fabiomolinar.com"><span class="fas fa-envelope fa-2x" aria-hidden="true"></span></a></td>
                        </tr>
                        <tr>
                            <th scope="row" class="align-middle">LinkedIn</th>
                            <td class="text-center"><a href="https://www.linkedin.com/in/fabiomolinar/" target="_blank" rel="noopener noreferrer"><span class="fab fa-linkedin fa-2x" aria-hidden="true"></span></a></td>
                        </tr>
                        <tr>
                            <th scope="row" class="align-middle">Github</th>
                            <td class="text-center"><a href="https://github.com/fabiomolinar" target="_blank" rel="noopener noreferrer"><span class="fab fa-github fa-2x" aria-hidden="true"></span></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
{% endblock base-content %}