{% extends "base/base.html" %}

{% block title %}
    Home
{% endblock title %}
{% block description %}
    <meta name="description" content="Fabio's personal website. Despite being my hobby, it is also used as a testing environment for my side projects." />
{% endblock description%}
{% block keywords %}
    <meta name="keywords" content="Fabio Thomaz Molinar, Fabio Molinar, Blog, Personal site, Projects, Web, Development, IoT, Industry 4.0, Gas Turbines" />
    <meta name="keywords" content="IoT, Industry 4.0, Gas Turbines, Utilities, Power, Power generation" />
{% endblock keywords%}

{% block base-content %}
    <div class="jumbotron">
        <h2>Hi, I'm Fabio.</h2>
        <p>Web developer, Industrial Automation Engineer, Husband & Father.</p>        
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Welcome to my personal website.</p>
                <p>This is the place where I run some of my personal <a href="/projects">projects</a> and where my hobbies come to life. It is also where you will find my <a href="/blog">blog</a>.</p>
                <p>This is where I come to when I am not at work, when my wife is busy and my children are sleeping. :)</p>
            </div>
        </div>
    </div>
{% endblock base-content %}