{% extends "base/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% blocktrans %}Projects{% endblocktrans %}
{% endblock title %}
{% block description %}
    <meta name="description" content="{% blocktrans %}List of the projects I have worked or am working on.{% endblocktrans %}" />
{% endblock description%}
{% block keywords %}
    <meta name="keywords" content="{% blocktrans %}Fabio Thomaz Molinar, Fabio Molinar, Blog, Personal site, Projects, Web, Development, IoT, Industry 4.0, Gas Turbines{% endblocktrans %}" />
    <meta name="keywords" content="{% blocktrans %}IoT, Industry 4.0, Gas Turbines, Utilities, Power, Power generation{% endblocktrans %}" />
{% endblock keywords%}
{% block head %}
    <meta property="og:title" content="Fabio's WebSite - {% blocktrans %}Projects{% endblocktrans %}" />
    <meta property="og:site_name" content="fabiomolinar.com" />
    <meta property="og:description" content="{% blocktrans %}List of the projects I have worked/am working on.{% endblocktrans %}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://fabiomolinar.com{{ request.get_full_path }}" />
    <meta property="og:image" content="https://fabiomolinar.com{% static 'base/images/icon.png' %}" />
{% endblock head %}

{% block base-content %}
    <div class="jumbotron">
        <h1>{% trans "Projects" %}</h1>
    </div>
    <div class="container">
        <div class="row m-3">
            <div class="col">
                <div class="card-deck">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">{% blocktrans %}This website{% endblocktrans %}</h3>
                            <div class="card-subtitle mb-2">
                                <span class="badge badge-pill badge-primary">Python</span>
                                <span class="badge badge-pill badge-primary">Django</span>
                                <span class="badge badge-pill badge-primary">Docker</span>
                                <span class="badge badge-pill badge-primary">Nginx</span>
                                <span class="badge badge-pill badge-primary">Gunicorn</span>
                            </div>
                            <p>{% blocktrans %}This website is powered by Django and its technology stack include Docker, Nginx and Gunicorn. At least for now.{% endblocktrans %}</p>                        
                        </div>
                        <div class="card-footer text-right d-none"><a href="#" class="btn btn-primary">{% trans "View Details" %}</a></div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">{% blocktrans %}My blog{% endblocktrans %}</h3>
                            <div class="card-subtitle mb-2">
                                <span class="badge badge-pill badge-primary">Python</span>
                                <span class="badge badge-pill badge-primary">Django</span>
                                <span class="badge badge-pill badge-primary">Zinnia</span>
                            </div>
                            <p>{% blocktrans %}I wanted to be able to include a blog to my website without the need to create one from scratch. Django's app structure and Zinnia came in handy so I could achieve just that.{% endblocktrans %}</p>
                        </div>
                        <div class="card-footer text-right">
                                <a href="#" class="btn btn-primary d-none">{% trans "View Details" %}</a>
                                <a href="{% url 'zinnia:entry_archive_index' %}" class="btn btn-primary">{% trans "View Blog" %}</a>
                        </div>
                    </div>
                    <div class="card border-primary">
                        <h5 class="card-header">Featured</h5>
                        <div class="card-body">
                            <h3 class="card-title">{% blocktrans %}Web Scraping - AliExpress Search{% endblocktrans %}</h3>
                            <div class="card-subtitle mb-2">
                                <span class="badge badge-pill badge-primary">Python</span>
                                <span class="badge badge-pill badge-primary">Scrapy</span>
                                <span class="badge badge-pill badge-primary">Scrapyd</span>
                                <span class="badge badge-pill badge-primary">Numpy</span>
                            </div>
                            <p>{% blocktrans %}A service that collects statistical data about any products/categories searchable at AliExpress.{% endblocktrans %}</p>                        
                        </div>
                        <div class="card-footer text-right">
                            <a href="#" class="btn btn-primary d-none">{% trans "View Details" %}</a>
                            <a href="{% url 'ali:search' %}" class="btn btn-primary">{% trans "View Project" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-3">
            <div class="col">
                <div class="card-deck">
                    <div class="card border-primary">
                        <h5 class="card-header">Featured</h5>
                        <div class="card-body">
                            <h3 class="card-title">{% blocktrans %}Web Scraping - AliExpress Tracker{% endblocktrans %}</h3>
                            <div class="card-subtitle mb-2">
                                <span class="badge badge-pill badge-primary">Python</span>
                                <span class="badge badge-pill badge-primary">Scrapy</span>
                                <span class="badge badge-pill badge-primary">Scrapyd</span>
                                <span class="badge badge-pill badge-primary">Numpy</span>
                            </div>
                            <p>{% blocktrans %}A service that <strong>continuously</strong> collects statistical data about a certain product/category at AliExpress.{% endblocktrans %}</p>
                        </div>
                        <div class="card-footer text-right">
                            <a href="#" class="btn btn-primary d-none">{% trans "View Details" %}</a>
                            <a href="{% url 'ali:tracker' %}" class="btn btn-primary">{% trans "View Project" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock base-content %}