{% extends "base/base.html" %}

{% block title %}
    My Projects
{% endblock title %}
{% block description %}
    <meta name="description" content="List of the projects I have worked/am working on." />
{% endblock description%}
{% block keywords %}
    <meta name="keywords" content="Fabio Thomaz Molinar, Fabio Molinar, Blog, Personal site, Projects, Web, Development, IoT, Industry 4.0, Gas Turbines" />
    <meta name="keywords" content="IoT, Industry 4.0, Gas Turbines, Utilities, Power, Power generation" />
{% endblock keywords%}

{% block base-content %}
    <h1>Projects</h1>
    <ul>
        <li>Blog</li>
    </ul>
{% endblock base-content %}