{% extends "base/base.html" %}
{% load i18n %}
{% block title %}
    {% trans 'Server error' %}
{% endblock title %}
{% block description %}
    <meta name="description" content="{% trans 'Server error' %}" />
{% endblock description%}        

{% block base-content %}
<div class="jumbotron">
    <h1>{% trans "Server error" %}</h1>
    <p>{% trans "There's been an error. It's been reported to the site administrators via e-mail and should be fixed shortly. Thanks for your patience." %}</p>
</div>
{% endblock base-content %}
