{% extends "base/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    Contact
{% endblock title %}
{% block description %}
    <meta name="description" content="{% blocktrans %}Summary data of a search request to AliExpress{% endblocktrans %}" />
{% endblock description%}
{% block keywords %}
    <meta name="keywords" content="{% blocktrans %}AliExpress, Data, Statistics, Summary, Automatic{% endblocktrans %}" />    
{% endblock keywords%}
{% block head %}
    <!-- FontAwesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.6.1/js/all.js" integrity="sha384-R5JkiUweZpJjELPWqttAYmYM1P3SNEJRM6ecTQF05pFFtxmCO+Y1CiUhvuDzgSVZ" crossorigin="anonymous"></script>
{% endblock head %}

{% block base-content %}
    <div class="jumbotron">
        <h2 class="display-4">AliExpress Search</h2>
        <p class="lead">Get statistical data collected from the first page of a search performed at AliExpress website.</p>
    </div>
    <div class="container-fluid">
        <div class="row flex-xl">
            <div class="col-12 bd-content">
                <h2>How it works</h2>
                <p>Define below from which product/category would you like to collect data from AliExpress.</p>
                <p>On the background, our server will access the AliExpress website, perform the search for your selected product/category, read the data from the first page of results and return a summary with statistical data collected from it.</p>
                <p>
                    <button class="btn btn-outline-info btn-sm" type="button" data-toggle="collapse" data-target="#FAQ" aria-expanded="false" aria-controls="FAQ">
                        More details/FAQ
                    </button>
                </p>
                <div class="collapse" id="FAQ">
                    <div class="card card-body">
                        <ul>
                            <li>Is data collected from all page results?</li>
                            <ul>
                                <li>No. Data is collected only from the first page. That would not be polite to AliExpress and it would overload their server with undesirable requests.</li>
                            </ul>
                            <li>Are the results live?</li>
                            <ul>
                                <li>They could be. If there aren't any previous search requests for the same category/product, we will run the search live and your results will be current.</li>
                                <li>Now, if your category/product has been already searched in the last 3 days, the cached results will be returned instead. If it has already been searched but the results are older than 3 days, a new search is done and your results will be current.</li>
                                <li>In other words, if your product/category is frequently searched, you may not get live results.</li>
                                <li>But also no results can be older than 3 days.</li>
                                <li>Again, this is done in order to respect the target server.</li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row flex-xl">
            <div class="col-12 bd-content">
                <form action="{% url 'ali:run_search' %}" method="POST" id="form_request" novalidate>
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="text" class="form-control form-control-lg text-center" placeholder="Text to be searched" required>
                        <div class="invalid-feedback">This field is required</div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" id="submit_request">Search</button>
                </form>
            </div>
        </div>
        <div id="resultsWrapper" class="d-none">
            <div class="row flex-xl">
                <div class="col-12 bd-content">
                    <hr>
                    <p id="results_spinner" class="text-center d-none"><span class="fas fa-spinner fa-5x fa-spin" aria-hidden="true"></span></p>
                </div>
            </div>
            <div class="row flex-xl">
                <div class="col-12 bd-content">
                    <!-- Plot -->
                    <table class="table table-sm table-striped table-bordered d-none" id="search-data-table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Corrected</th>
                                <th scope="col">Non-corrected</th>
                                <th scope="col">(Non-corrected - Corrected)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="results">
                                <th scope="row">Number of products</th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr id="min">
                                <th scope="row">Minimum price</th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr id="mean" class="table-primary">
                                <th scope="row">Mean price</th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr id="avg">
                                <th scope="row">Average price</th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr id="max">
                                <th scope="row">Maximum price</th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr id="std">
                                <th scope="row">Standard deviation</th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr id="points">
                                <th scope="row">Number of points</th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock base-content %}
{% block scripts %}
    <script src="{% static 'ali/script.js' %}"></script>
{% endblock scripts %}