{% extends "base/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    Contact
{% endblock title %}
{% block description %}
    <meta name="description" content="{% blocktrans %}Summary data of a search request to AliExpress{% endblocktrans %}" />
{% endblock description%}
{% block keywords %}
    <meta name="keywords" content="{% blocktrans %}AliExpress, Data, Statistics, Summary, Automatic{% endblocktrans %}" />    
{% endblock keywords%}
{% block head %}
    <!-- FontAwesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.6.1/js/all.js" integrity="sha384-R5JkiUweZpJjELPWqttAYmYM1P3SNEJRM6ecTQF05pFFtxmCO+Y1CiUhvuDzgSVZ" crossorigin="anonymous"></script>
{% endblock head %}

{% block base-content %}
    <div class="jumbotron">
        <h2 class="display-4">AliExpress Search</h2>
        <p class="lead">Get statistical data collected from the first page of a search performed at AliExpress website.</p>
    </div>
    <div class="container-fluid">
        <div class="row flex-xl">
            <div class="col-12 bd-content">
                <h2>How it works</h2>
                <p>Define below from which product/category would you like to collect data from AliExpress.</p>
                <p>On the background, our server will access the AliExpress website, perform the search for your selected product/category, read the data from the first page of results and return a summary with statistical data collected from it.</p>
                <p>
                    <button class="btn btn-outline-info btn-sm" type="button" data-toggle="collapse" data-target="#FAQ" aria-expanded="false" aria-controls="FAQ">
                        More details/FAQ
                    </button>
                </p>
                <div class="collapse" id="FAQ">
                    <div class="card card-body">
                        <ul>
                            <li>Is data collected from all page results?</li>
                            <ul>
                                <li>No. Data is collected only from the first page. That would not be polite to AliExpress and it would overload their server with undesirable requests.</li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row flex-xl">
            <div class="col-12 bd-content">
                <form action="{% url 'run_search' %}" method="POST" id="form_request">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="text" class="form-control form-control-lg text-center" placeholder="Text to be searched">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" id="submit_request">Search</button>
                </form>
            </div>
        </div>
        <div class="row flex-xl d-none" id="resultsWrapper">
            <div class="col-12 bd-content">
                <hr>
                <p id="results_spinner" class="text-center d-none"><span class="fas fa-spinner fa-5x fa-spin" aria-hidden="true"></span></p>
            </div>
        </div>
    </div>
{% endblock base-content %}
{% block scripts %}
    <script src="{% static 'ali/script.js' %}"></script>
{% endblock scripts %}